h1{
    color: red;
}

.container-sm{
    border: 2px solid #e0e0e0;
}
 
.container-lg{
    border: 2px solid red;
}
 
.container-md{
    border: 2px solid gold;
}
 

/* SM >= 576px -> resolução de celulares*/
@media(min-width: 576px){
    h1{
        color: blue;
    }
}

/* MD  >=  768px -> resolução de tablets*/
@media(min-width: 768px){
    h1{
        color: #ccff00;
    }
}

/* LG >= 992px dispositivos com em torno de 15 pol */
@media(min-width: 992px){
    h1{
        color: purple;
    }
}

/* XL >= 1200px dispositivos em torno de 20 pol */
@media(min-width: 1200px){
    h1{
        color: orangered;
    }
}

/* XXL >= 1400 */
@media(min-width: 1400px){
    h1{
        color: black;
    }
}

/* .btn-danger{
    background-color: pink;
} */